$color-card-border: #edeef8;
$color-grey: #b0bec5;
$color-blue: #2962ff;
$color-blue-light: #ccdaff;
$color-green: #4caf50;
$color-green-light: #c7eac9;
$color-primary: #455a64;

$width-desktop-min: 992px;
$width-tablet-min: 768px;
