@import "../../Assets/variables.scss";
@import "../../Assets/mixins.scss";

.home_wrapper {
  display: flex;
  justify-content: center;
  padding-top: 5vh;
  min-height: 100vh;
  flex-wrap: wrap;

  .card_wrapper {
    margin: 10px;

    @include mobile {
      margin: 10px;
    }
  }
}
